.background {
  background-color: #001233;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  color: red;
}

.window {
  display: flex;
  align-items: center;
  justify-content: center
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hyperlink {
  font-size: medium;
  color: white;
  margin: 10px;
}