.background {
  background-color: #001233;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timetable_title {
  margin-top: 0%;
  height: 80px;
  background-color: #4361ee;
  color: #caf0f8;
  text-align: left;
  padding: 15px;
  padding-left: 120px;
  
  font-size: 50px;
  font-weight: 700;
  width: 100%;
}

.window {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hyperlink {
  font-size: medium;
  color: white;
  margin: 10px;
}