.todo__list{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 5px solid black;
    margin-bottom: 10px !important;
    color: black;
    }

.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: #dee2ff;
    background-size: auto;
}