.background {
  background-color: #001233;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  color: red;
  font-size: x-large;
  background-color: #0353A4;
  width: 100vw;
}

.profTitle {
  text-align: center;
  color: red;
  font-size: medium;
  background-color: #0466C8;
}

.formWrap {
  justify-content: cenetr;
  align-items: cenetr;
}
.selectMod {
  align-items: center;
  background-color: aliceblue;
  height: 80px;
}

.announWrap {
  justify-content: center;
  align-items: center;
  background-color: white;
}