.background {
  background-color: #001233;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  height: 80px;
  background-color: #0353a4;
  color: #caf0f8;
  text-align: left;
  padding: 15px;
  padding-left: 120px;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
}

.addAnnouncementButton {
  width: 100%;
  margin-top: 10px;
}

.profTitle {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.displayMod {
  color: #caf0f8;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #67b663;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
}

.formWrap {
  justify-content: cenetr;
  align-items: cenetr;
}
.selectMod {
  align-items: center;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.selectModInputField {
  background-color: #caf0f8;
  border-radius: 5px;
  border: 5px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.moduleSelectField {
  display: flex;
  flex-direction: column;
}
.moduleSelectField button {
  margin-top: 10px;
}

.announcementWrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.announcementItemWrapper {
  background-color: #caf0f8;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.linkItemWrapper {
  background-color: #e8b69b;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.announWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
}

.addAnnouncementWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.addAnnouncementWrapper button {
  margin-top: 10px;
}

.delAnnouncementWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;

}

.delAnnouncementWrapper button {
  margin-top: 10px;
}

.cocoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
}

.addCocoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addCocoWrapper button {
  margin-top: 10px;
}

.delCocoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.delCocoWrapper button {
  margin-top: 10px;
}