.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modItem {
  width: 300px;
  margin: 0;
  line-height: 2;
  text-align: center;
}

.name {
  margin: 0;
  line-height: 2;
  text-align: center;
}

.link {
  margin: 0;
  line-height: 2;
  text-align: center;
}

.coocooTitle {
  height: 60px;
  background-color: #023e8a;
  color: #caf0f8;
  text-align: left;
  padding: 15px;
  
  font-size: 50px;
  font-weight: 700;
  width: 100%;
}
