body, html {
  background-color: #001233;
  height: 100vh;
}

.wrapper {
  background-color: #001233;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modItem {
  width: 700px;
  margin: 0;
  line-height: 2;
  text-align: center;
  padding: 30px;
  margin: 10px;
}

.name {
  margin: 0;
  line-height: 2;
  text-align: center;
}

.link {
  margin: 0;
  line-height: 2;
  text-align: center;
}

.linkText {
  font-size: 20px;
}

.coocooTitle {
  margin-top: 0%;
  height: 80px;
  background-color: #4361ee;
  color: #caf0f8;
  text-align: left;
  padding: 15px;
  padding-left: 120px;

  font-size: 50px;
  font-weight: 700;
  width: 100%;
}

.backButton {
  width: 100px;
}
